@font-face {
 font-family: ffmRegular;
 src: url("../fonts/ffmRegular-webfont.eot") /* EOT file for IE */
}
@font-face {
 font-family: ffmRegular;
 src: url("../fonts/ffmRegular.otf") /* OTF file for CSS3 browsers */
}