/* FRONTEND CSS
*********************************************/

* {
    font-family: 'Lucida Sans Unicode', "Lucida Grande", Arial, Verdana;
    color:#444;
}

html {
    overflow-y: scroll;
    height:101%;
}

body {
    background-color: #EDEDED;
    font-size:14px;
    font-weight:normal;
    line-height:22px;
}


/* LAYOUT
*********************************************/

/* Floats */

.float-left {
    float: left;
}
.float-right {
    float: right;
}
/* Before / After */
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.ie7 .group {
    zoom: 1;
}

/* Tabellen und Links */
ul{
    list-style:none;
}
/*
a {
    text-decoration:none;
}*/

/* Ueberschriften */
/*TODO: Farbverlauf für alle Browser*/
h3 {
    background: -webkit-linear-gradient(left,
    rgb(242, 46, 43) 0%,
    rgba(242, 46, 43, 0) 100%);
    color: white;
    padding-left: 10px;
}

h3:before {
    content: "|";
    padding-right: 2px;
}

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

.inner-box {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

/* Media Queries
*********************************************/

/* Retina */

@media screen and (-webkit-min-device-pixel-ratio: 2),
screen and (max--moz-device-pixel-ratio: 2) {}
/* Landscape phones and down */

@media (max-width: 480px) {}
/* Landscape phone to portrait tablet */

@media (max-width: 767px) {}
/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 979px) {}
/* Large desktop */

@media (min-width: 1200px) {}


/* Own rules
*********************************************/

/* Wrapper */

#wrapper {
    
}

/* Header 1 */

#header1 {
    height:35px;
    background-color:#575757;
}
#search {
    float:right;
    margin-top:5px;
}
/* Header 2 */

#header2 {
    border-top:1px solid white;
    border-bottom:1px solid white;
    position:relative;
    -moz-box-shadow:0px 3px 3px 0px #888;
    -webkit-box-shadow:0px 3px 3px 0px #888;
    box-shadow:0px 3px 3px 0px #888;
    height:200px;
    background:#f22e2b;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YyMmUyYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhYzIxMWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background:-moz-linear-gradient(top,
    #f22e2b 0%,
    #ac211e 100%);
    /* FF3.6+ */
    background:-webkit-gradient(linear,
    left top,
    left bottom,
    color-stop(0%,
    #f22e2b),
    color-stop(100%,
    #ac211e));
    
    /* Chrome,Safari4+ */
    background:-webkit-linear-gradient(top,
    #f22e2b 0%,
    #ac211e 100%);
    /* Chrome10+,Safari5.1+ */
    background:-o-linear-gradient(top,
    #f22e2b 0%,
    #ac211e 100%);
    /* Opera 11.10+ */
    background:-ms-linear-gradient(top,
    #f22e2b 0%,
    #ac211e 100%);
    /* IE10+ */
    background:linear-gradient(to bottom,
    #f22e2b 0%,
    #ac211e 100%);
    /* W3C */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f22e2b',
    endColorstr='#ac211e',
    GradientType=0);
    /* IE6-8 */
}

#person {
    z-index:5;
    height:250px;
    width:137px;
    position:absolute;
    float:left;
    top:-40px;
}

#logo {
    height:180px;
    width:522px;
    position:absolute;
    float:left;
    top:10px;
    margin-left:45px;
}

/* Menü */
/*****************************************/
#topmenu {
    z-index:4;
    height:35px;
    position:relative;
    top:164px;
    -moz-box-shadow:0px 1px 3px 0px #333;
    -webkit-box-shadow:0px 1px 3px 0px #333;
    box-shadow:0px 1px 3px 0px #333;
}


.maximenuckh {
    text-decoration: none, inherit;
    text-transform: capitalize;
    font-size: 1.5em;
}

.maximenucklogo {
    list-style:none;
}


/* HAUPTTEIL 
/*****************************************/
#container {  

}

#breadcrumbs {
    font-size: 0.8em;
    padding:5px 0px 2px 15px;
}

/* SLIDESHOW (NUR STARTSEITE) 
/*****************************************/
#slideshow {
    z-index:3;
}


/* Content
/*****************************************/

#columnRight {
    width:310px;
    float:right;
    padding: 5px 5px 5px 0px;
}

#columnLeft {
    width: 630px; 
    padding: 5px 0px 5px 5px;
    float:left;
}


/* FOOTER
/******************************************/

#footer {
    background-color:#575757;
    border-top: 1px solid white;
    min-height:50px;
}

#footerLeft {
    width:320px;
    float:left;
}

#footerMiddle {
    width:320px;
    float:left;
}

#footerRight {
    width:320px;
    float:left;
}
#copyright {
}


